.h3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    font-weight: 500;
}


.img {
    text-align: center; 
}

.img img {
    width: 500px;
    height: 500px; 
    display: block; 
    margin: auto;
    border: transparent solid transparent;
    border-radius: 500px;
}

div#efeitoSonoro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}