body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.recipe {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.recipe h2 {
    color: #000000;
}

.recipe ul {
    list-style-type: none;
    padding-left: 20px;
}

footer {
    background-color: #fff;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.recipe li{
    margin: 10px;
    padding: 5px;
}
.recipe p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    text-align: justify;
    line-height: 1.5;
}
.recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}